@use "./base.scss";

// put your custom CSS here!

html {
  font-size: 17px;
}

// Wider layout on large screens (850px content + 2x380px sidebars = 1610px minimum)
@media all and (min-width: 1610px) {
  .page .center,
  .page footer {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .page .page-header,
  .page .page-footer {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .page #quartz-body .sidebar.left {
    left: calc(calc(100vw - 850px) / 2 - 380px);
  }

  .page #quartz-body .sidebar.right {
    right: calc(calc(100vw - 850px) / 2 - 380px);
  }
}
