@use "./base.scss";

// put your custom CSS here!

// Wider layout on large screens (1050px content + 2x380px sidebars = 1810px minimum)
@media all and (min-width: 1810px) {
  .page .center,
  .page footer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .page .page-header,
  .page .page-footer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .page #quartz-body .sidebar.left {
    left: calc(calc(100vw - 1050px) / 2 - 380px);
  }

  .page #quartz-body .sidebar.right {
    right: calc(calc(100vw - 1050px) / 2 - 380px);
  }
}
